
header {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

nav {margin-left: 54%;}

form {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 20em;}

body  {background-color: #F9F8F8}
::placeholder {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}