html {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*---------------------------------------------
            Header Styling
----------------------------------------------*/

.tittle-header {
    color: #387245;
}

.main-nav li {

    list-style: none;
}

.header-class {
    position: fixed;
    height: 100%;
    width: 18%;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(#78e08f, rgba(6, 69, 20, 0.99));
    overflow-x: hidden;
    padding-top: 20px;
}

.contents {
    margin-left: 18%;
    padding: 0px 10px;
}

.main-nav li a {
    text-decoration: none;
    color: black;
}

.main-nav li a:hover {
    color: #fff;
}

/*---------------------------------------------
            Park Pictures
----------------------------------------------*/
.pet-park-photos {
    padding: 0;
}

.photo-showcase {
    list-style: none;
    width: 100%;
}

.photo-showcase li {
    display: inline-block;
    list-style: none;
    float: left;
    width: 25%;
}

.park-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.park-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.park-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

/*---------------------------------------------
            Park Names Styling
----------------------------------------------*/
.park-name-header {
    font-weight: 300;
    color: green;
}

.main-container {
    width: 70%;
}

.aside-park-names ol li {
    text-align: justify;
    font-weight: 300;
}
/*---------------------------------------------
            Post Styling
----------------------------------------------*/
div.post {
    width: 40%;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    margin:auto;
    margin-bottom: 100px;
    text-align: center;
    padding: 5px 5px
  }
  
  div.header {
    text-align: center;
    padding: 15px 15px;
  }
h2.post{
    text-align: center;
}

/*---------------------------------------------
            Footer Styling
----------------------------------------------*/

.footer-class {

    background-color: #3b3b3b;
    color: #f1fffb;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

.social-icons li {
    list-style: none;
    display: inline-block;
    float: right;
    padding-left: 25px;
}

.footer-class ul {
    margin-right: 25px;
}

.footer-class-lost&found ul{
    position: fixed;
    left: 0;
    bottom: 0;
    
}

/*--------------End of footer -----------------------*/

/*---------------------------------------------
            Desinging labels
----------------------------------------------*/
.level-design {
    font-weight: 700;
    font-size: 20px;
    color: #035716;
}

.input-class {
    width: 50%;
    height: 28px;
    padding: 4px 10px;
    border: 1px solid #006d15;
    background: #beffb9;
    color: #112606;
    font-size: 18px;
}

.btn input{
    box-sizing: border-box;
    padding: 15px;
    margin-right: 25px;
    border: 1px solid #006d15;
    font-size: 20px;
    border-radius: 20%;
}

.submit-btn {
    background-color: #beffb9;
    color: black;
    font-weight: bold;
}

.submit-btn:hover{
    
    background-color: green;
}

.reset-btn{
    background-color: aliceblue;
    color: black;
    font-weight: bold;
}

.reset-btn:hover{
    background-color: red;
}
