html{
    font-family: sans-serif;
}

.main-nav li{
    box-sizing: border-box;
    display: inline;
    padding: 20px;
}





/*---------------------------------------------
            Footer Styling
----------------------------------------------*/

footer {
    background-color: #3b3b3b;
    color: #f1fffb;    
}

.social-icons li{
    list-style: none;
    display: inline-block;
    float: right;
    padding-left: 25px;
}


.footer-class ul{
    margin-right: 25px;
}
