* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}



.header-class {
    position:absolute;
    height: 150%;
    width: 18%;
    z-index: 1;
    top: 0;
    left:0;
    bottom: 0;
    background-image: linear-gradient(#78e08f, rgba(6, 69, 20, 0.99));
    overflow-x: hidden;
    padding-top: 20px;
   
    float: left;
}



body {
  padding: 40px 20%;
  background-color: whitesmok;
    backface-visibility: visible;
    background-size: cover;
}

@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}