* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}


body {
  padding: 50px 20%;
  background-color: whitesmok;
    backface-visibility: visible;
    background-size: cover;
}

@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}