header {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

nav {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 54%;}

form {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 20em;}

::placeholder {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}