*{
    box-sizing: border-box;
}
header{
    font: 20px arial, sans-serif; 
    background-color: #d6f5d6;
    text-align: center;
    
}
nav {
    float: left;
    width: 30%;
    background: #94ce94;
    padding: 20px;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }

  section:after {
    content: "";
    display: table;
    clear: both;
  }
  Donate {
    float: left;
    padding: 20px;
    background-color: #383b38;
    width: 70%;
  }

footer{
    background-color:  #d6f5d6 ;
    padding: 10px;
    text-align: center;
}
@media (max-width: 600px) {
    nav, Donate {
      width: 100%;
      height: auto;
    }